@page
@model ThePersonalBudgetApp.Pages.WorkOnBudgetModel
@{
    await Model.OnGetAsync();
}

@if (!Model.IsWorkingOnBudget)
{
    <h3>Choose Budget to work with:</h3>
    @if (Model.Budgets is not null || !Model.Budgets!.Any())
    {
        <ul>
            @foreach (var budget in Model.Budgets!)
            {
                <li class="budget-item">
                    <form method="post">
                        <input type="hidden" name="selectedBudgetId" value="@budget.Id" />
                        <button type="submit" class="btn btn-link">@budget.Title</button>
                    </form>
                    <form method="post" asp-page-handler="DeleteBudget">
                        <input type="hidden" name="deleteBudgetId" value="@budget.Id" />
                        <button type="submit" class="btn btn-link" onclick="return confirm('Are you sure you want to delete this budget?')">
                            <img src="~/img/delete_sticker.png" alt="Delete" />
                        </button>
                    </form>
                </li>
            }
        </ul>
    }
    else
    {
        <h3>Budgets can not load..</h3>
    }

    <h5>Eller välj att <a asp-page="/CreateBudget">SKAPA NY BUDGET</a></h5>
}
else
{
    <!--Work on Selected Budget-->
    @if (Model.SelectedBudget is not null)
    {
        <p>Budget Name: @Model.SelectedBudget?.Title</p>
        <p>Categories Count: @Model.SelectedBudget?.Incomes?.Count</p>

        ViewData["Handler"] = "SaveBudget";
        <partial name="Shared/BudgetFormPartial" model="Model.SelectedBudget" />
    }
    else
    {
        <h1>Something went wrong...</h1>
    }

    <!-- return to list of budgets -->
    <form method="post">
        <input type="hidden" name="action" value="back" />
        <button type="submit" class="btn btn-secondary">Back to budget list</button>
    </form>
}

<!-- TODO: Display total (or chart) and Add calculator here -->